.page {
  /* background-image: url("./404-error-page-not-found.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.icon {
  font-size: 10rem;
  color: #f43f36;
  margin-bottom: 5rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: red;
}

.message {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #388e3c;
}
