.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 2rem;
    padding: 6rem;
  }
  
  #headin {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(255, 15, 243);
  
  }
  
  .label {
    margin-bottom: 1rem;
  }
  
  .input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #388e3c;
  }
  .forgot{
    display: inline;
    color: red;
    font-weight: 600;
  }